*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tab-list li{
    display: inline-block;
    border: solid 1px black;
    border-radius: 12px;
    padding: 6px;
}
.tab-list li a {
    text-decoration: none;
}